---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div id="wrap">
  <form class="signup">
    <input class="email" maxlength="22" minlength="4" placeholder="email" type="email">/</input>
    <input class="submit" type="submit" value="Subscribe">/</input>
    <div class="field">
      <p class="text initial" data-splitting="chars">email</p>
      <div class="graves">
        <div class="ghost">
          <div class="ghostbody"></div>
        </div>
        <% 2.times do %>
          <div class="grave"></div>
        <% end %>
      </div>
      <div class="inner"></div>
      <div class="btn">
        <span>SUBSCRIBE</span>
      </div>
    </div>
  </form>
</div>
</body>

</html>
